.faded-text, .header-text {
  color: #133337;
  color: rgba(19, 51, 55, 0.6);
}

.base-active-item {
  background-color: #133337 !important;
  color: white !important;
}

.base-border {
  border: 1px solid #c9c9c9;
}

.theme-heritage-green {
  background-color: #009677;
  color: white;
  border-color: #00634f !important;
  border-width: 1px;
  border-style: solid;
}

.bg-heritage-green {
  background-color: #009677;
}

.bg-fresh-green {
  background-color: #50b848;
}

.bg-future-green {
  background-color: #8dc63f;
}

.bg-sky {
  background-color: #00c0e8;
}

.bg-sun {
  background-color: #fff200;
}

.bg-naartjie {
  background-color: #f37021;
}

.bg-cerise {
  background-color: #ed0080;
}

.text-heritage-green {
  color: #009677;
}

.text-fresh-green {
  color: #50b848;
}

.text-future-green {
  color: #8dc63f;
}

.text-sky {
  color: #00c0e8;
}

.text-sun {
  color: #fff200;
}

.text-naartjie {
  color: #f37021;
}

.text-cerise {
  color: #ed0080;
}

.border-heritage-green {
  border-color: #009677 !important;
}

.border-fresh-green {
  border-color: #50b848 !important;
}

.border-future-green {
  border-color: #8dc63f !important;
}

.border-sky {
  border-color: #00c0e8 !important;
}

.border-sun {
  border-color: #fff200 !important;
}

.border-naartjie {
  border-color: #f37021 !important;
}

.border-cerise {
  border-color: #ed0080 !important;
}
